<section id="search" class="search-wrap">
    <h1>Welcome to the Monster Manual</h1>
    <form action="/monsters/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="name">
      <input type="submit" value="Search">
    </form>
  </section>