 <!-- This displays the data from the database as cards to get all monsters -->
  <section id="monster" class="container">
    <h1>Monster</h1>
    

    {{!-- {{#each monsters}} --}}
    <div class="mons">
      <h3>{{dataValues.name}}</h3>
      <p>{{dataValues.description}}</p>
    </div>
    {{!-- {{/each}} --}}
  </section>